// ============== fonts ==============
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

/* Variables */
:root {
    --color-primary-bg: #2f3036;
    --color-white: rgb(255, 240, 240);
    --color-active: #3CE669;
    --font-primary: 'Montserrat', sans-serif;
}